{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="/static/images/M-rooms.png" class="img-thumbnail rounded mx-auto d-block room-image" alt="M-roms">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to our <em>'Majors'</em> Rooms</h1>
            <p class="text-center">
                your home away from home. your home away from home. your home away from home. your home away from home.
                your home away from home.
                your home away from home. your home away from home. your home away from home. your home away from home.
                your home away from home.
                your home away from home. your home away from home. your home away from home. your home away from home.
                your home away from home.
                your home away from home. your home away from home. your home away from home. your home away from home.
                your home away from home.
                your home away from home. your home away from home. your home away from home. your home away from home.
                your home away from home.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" class="btn btn-success">Check availability</a>
        </div>
    </div>
</div>
{{end}}


{{define "js"}}

<script>
    document
            .getElementById("check-availability-button")
            .addEventListener("click", bookRoom("2"))
</script>


{{end}}